[Desktop Entry]
Version=1.0
Type=Application
Name=kkshell
Icon=/usr/share/icons/hicolor/128x128/apps/kkshell.png
Exec=kkshell
Comment=kkshell
Categories=Development;IDE;
Terminal=false
